[run]
source = src
omit =
    src/__pycache__/*
    src/company_account.py
    */site-packages/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
    raise AssertionError
    raise NotImplementedError
    if 0:
    if False:
    if TYPE_CHECKING:
    return promo_code.startswith
    else:.*pragma
